* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	color: #222;
	font: 16px/1.5 ProximaNova, Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
p,
ul {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 48px;
	line-height: 1;
	margin-bottom: 1em;
}

h2 {
	font-size: 24px;
	line-height: 1;
	margin-bottom: 1em;
}

h3 {
	font-size: 16px;
	line-height: 1;
	margin-bottom: 1em;
}

p,
ul {
	margin-bottom: 2em;
}

ul {
	margin-left: 1em;
}

#nav {
	left: 20px;
	list-style: none;
	margin: 0;
	position: fixed;
	top: 20px;
}

#nav li {
	margin-bottom: 2px;
}

#nav a {
	background: transparent;
	color: white;
	display: block;
	font-size: 14px;
	padding: 5px 10px;
	text-decoration: none;
	text-transform: uppercase;
}

#nav a:hover {
	background: #dedede;
}

#nav .current a {
	background: #666;
	opacity: 0.8;
	color: #ededed;
}

#container {
	margin: 0 auto;
	width: 800px;
	background: rgba(255, 255, 255, 0.85);
}

.section {
	border-bottom: 5px solid #ccc;
	padding: 50px 20px;
}

.section p:last-child {
	margin-bottom: 0;
}